<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52140942595-njoladjpqdebib27snd37gtl49nojfml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52140942595-njoladjpqdebib27snd37gtl49nojfml</string>
	<key>API_KEY</key>
	<string>AIzaSyC7AccCI_-bFRFv6dwZIdxKDEDU9s5n55M</string>
	<key>GCM_SENDER_ID</key>
	<string>52140942595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paradabeltran.Uber</string>
	<key>PROJECT_ID</key>
	<string>uberclone-bc13e</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-bc13e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52140942595:ios:ac546f7b115563359ab536</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-bc13e.firebaseio.com</string>
</dict>
</plist>